<div class="progress_bar">
  <div class="elapsed">
  </div>
</div>

<script>

  var youtubeAPI = 'http://gdata.youtube.com/feeds/api/videos?v=2&alt=jsonc';
  var data;

  $.get(youtubeAPI, {'q':"<%= @you_tube_id %>"}, function(response){

    data = response.data;

    if(!data.totalItems || data.items[0].accessControl.embed!="allowed"){

      // If the video was not found, or embedding is not allowed;
      //TODO: DO SOMETHING HERE TO REMOVE THE VIDEO AND DISPLAY A MESSSAGE.

      return elements.originalDIV;
    }

    data = data.items[0];
    //if(console) { console.log(data.duration); } 
    

  },'jsonp');



  $(".progress_bar").click(function(e){

    // When a click occurs on the progress bar, seek to the
    // appropriate moment of the video.
    //if(console) { console.log(ratio); } 

    var ratio = (e.pageX - $(".progress_bar").offset().left)/$(".progress_bar").outerWidth();
    $(".elapsed").width(ratio*100+'%');

    var video_duration = $("#ytPlayer")[0].getDuration();


    var seek_pos = Math.round(data.duration*ratio);

    $("#ytPlayer")[0].seekTo(seek_pos, true);
    return false;
  });
</script>
