<% content_for :hlayout do %>
  <div id="home_header_bg">
  </div>
<% end %>
<% content_for :hlayout_footer_edit1 do %>
  <div id="home_footer_edit">
  <style>
    #home_footer_edit {
      <% if logged_in? %>
        margin-top: 92px;
      <% else %>
        margin-top: 166px;
      <% end %>
    }

    #social_text {
      margin-top: 9em;
    }

    #video_url {
      width: 220px;
    }
  </style>
<% end %>
<% content_for :hlayout_footer_edit2 do %>
<% end %>

<div id="page_index_show">
  <div class="span-24">
    <p>
  <h4>Welcome to Streamcritic Beta.<% unless logged_in? %><span id="signup_text">Sign up, it's free!</span><% end %></h4>
    </p>
  </div>
  <div id="social_text" class="push-8">
    <div class="span-6">
      <p>
      <h2>Social video <%= link_to 'tagging', {:action=>"index", :controller=>"videos"} %>.</h2>
      </p>
      <% if logged_in? %>
        <%= render 'videos/emb_form' %>
      <% end %>
    </div>
    <div id="index_page">
    </div>
  </div>
</div>
